[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
aiohttp-requests = "*"
bs4 = "*"
selenium = "*"
webdriver-manager = "*"
pyppeteer = "*"

[dev-packages]

[requires]
python_version = "3.11"
